.label{
    display: block;
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
    color: #444;
    margin: 15px;
}

.label-green{
    background-color: green;
    color: white;
}